body {
    background-color: lightblue;
}
  
h1 {
    color: white;
    text-align: center;
}
  
p {
    font-family: verdana;
    font-size: 20px;
}

input[type='number']{
    width: 40px;
} 

.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 0%;
}
